src/App.css .App {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Menyesuaikan tinggi halaman */
}

input {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  width: 200px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #d5c5c5;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

li button {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

/* Menambahkan styling untuk tombol clear dan posisi tombol dalam calculator */
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 220px;
}
